html {
    background: white;

}

body {
    background: white ;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5; 
}

.Raster{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto auto;     
}


.Titel {
    grid-column: 1/3;
    grid-row: 1;

    font-style:normal;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color:#c63927;
    text-align: center;
    font-size:50px;
}

.ZelleKontaktdaten{
    
    grid-column: 2;
    grid-row: 2;
    
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;

}



.ZelleProfilbild{
    grid-column: 1;
    grid-row: 2;
    width: 50%;
    
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    

}

.Profilbild{
    width: 50%;
    
    
}


.MeineKurse{
    font-size:30px;
}

.ZelleMeineKurse{
    grid-column: 1;
    grid-row: 3;
    
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}

.ZelleFußzeile1 {
    grid-column: 1;
    grid-row: 4;
    
    font-style: oblique;
    font-family: Mv Boli;
    color: white;
    background-color:#c63927;
    text-align: left;
    font-size:18px;
}

.ZelleFußzeile2 {
    grid-column: 1;
    grid-row: 4;
    
    font-style: oblique;
    font-family: Mv Boli;
    color:white;
    background-color:#c63927;
    text-align: center;
    font-size:18px;
}

.ZelleFußzeile3 {
    grid-column: 2;
    grid-row: 4;
    
    font-style: oblique;
    font-family: Mv Boli;
    color: white;
    background-color:#c63927;
    text-align: left;
    font-size:18px;
}

.ZelleFußzeile4 {
    grid-column: 3;
    grid-row: 4;
    
    font-style: oblique;
    font-family: Mv Boli;
    color: white;
    background-color:#c63927;
    text-align: right;
    font-size:18px;
}


ol{list-style-type:upper-roman;
}

ul {list-style-type: circle;
    margin-bottom: 1em;

}


img {
    
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  background-color: transparent;
  text-decoration: underline;
}
